.NotFound {
    text-align: center;
  
    .NotFound-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
  
      .display-1 {
        font-size: 4rem;
        margin-bottom: 1rem;
      }
  
      .lead {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
  
      .btn-red {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
        background-color: $primary-color;
        border-color: $primary-color;
        color: $secondary-color;
  
        &:hover {
          background-color: $button-hover-color;
          border-color: $button-hover-color;
        }
      }
    }
  }
